@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  color: hsl(0, 0%, 100%);
  text-align: center;
  padding: 1rem;
  width: 280px;
  height: 400px;
  background-image: url(./images/mobile/image-header.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.logo_nav {
  display: flex;
  justify-content: space-between;
}

.navcollapse,
.logo {
  cursor: pointer;
}

.navcollapse {
  height: 10%;
  width: 10%;
}

.navitems {
  visibility: hidden;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  padding: 1rem;
  list-style: none;
  position: absolute;
  color: hsl(232, 10%, 55%);
  background-color: hsl(0, 0%, 100%);
  left: 10%;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.navitems.active {
  visibility: visible;
}

.navitems li {
  cursor: pointer;
}

.navitems li:nth-of-type(4) {
  margin: 0 auto;
  border-radius: 1rem;
  background-color: hsl(51, 100%, 49%);
  padding: 0.5rem 1rem;
  color: black;
}

h1 {
  letter-spacing: 0.3rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: 700;
  margin-block: 2.5rem;
}

main {
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: 250px 300px 250px 300px 400px 400px auto 300px;
  width: 280px;
}

.egg {
  background-image: url(./images/mobile/image-transform.jpg);
  background-size: contain;
}

.cup {
  background-image: url(./images/mobile/image-stand-out.jpg);
  background-size: contain;
}

.eggtext,
.cuptext {
  text-align: center;
  padding: 2rem 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.eggtext h2,
.cuptext h2 {
  font-family: "Fraunces", serif;
}

.eggtext p,
.cuptext p {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  line-height: 1.2rem;
  font-size: 0.75rem;
  color: hsl(232, 10%, 55%);
}

.eggtext a,
.cuptext a {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  text-decoration-color: hsl(51, 100%, 49%, 0.2);
  text-decoration-thickness: 0.3rem;
  font-weight: 700;
  color: black;
  font-size: 0.8rem;
}

.cuptext a {
  text-decoration-color: hsl(7, 99%, 70%, 0.2);
}

.cherries {
  background: url(./images/mobile/image-graphic-design.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.oranges {
  background: url(./images/mobile/image-photography.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.cherrytext,
.orangetext {
  color: hsl(167, 40%, 24%);
  text-align: center;
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 1.5rem;
  padding: 0 0.8rem;
}

.orangetext {
  color: hsl(198, 62%, 26%);
}

.cherrytext h2,
.orangetext h2 {
  font-family: "Fraunces", serif;
}

.cherrytext p,
.orangetext p {
  line-height: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 0.65rem;
  color: hsl(167, 40%, 24%);
}

.testimonials_sec {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 0.8rem;
}

.testimonials_sec > h2 {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  color: hsl(232, 10%, 55%);
  margin-top: 2rem;
}

.testimonials > * {
  margin: 2.5rem 0;
}

.test1 img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
}

.test1 p {
  line-height: 1.2rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  color: hsl(167, 40%, 24%);
  margin-block: 1rem;
}

.name_position h2 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 0.9rem;
  color: hsl(198, 62%, 26%);
}

small {
  color: hsl(210, 4%, 67%);
  font-weight: 600;
  font-size: 0.6rem;
  font-family: "Barlow", sans-serif;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.milk_bottle {
  background-image: url(./images/mobile/image-gallery-milkbottles.jpg);
  background-size: cover;
}

.galoranges {
  background-image: url(./images/mobile/image-gallery-orange.jpg);
  background-size: cover;
}

.cone {
  background-image: url(./images/mobile/image-gallery-cone.jpg);
  background-size: cover;
}

.sugarcubes {
  background-image: url(./images/mobile/image-gallery-sugar-cubes.jpg);
  background-size: cover;
}

.gallery > * {
  width: 50%;
  height: 50%;
}

.gallery img {
  height: 100%;
  width: 100%;
}

footer {
  background-color: hsl(168, 34%, 41%, 0.6);
  width: 280px;
  padding: 3rem 0;
}

.footerlogo {
  text-align: center;
  margin-bottom: 2rem;
}

.footerlinks {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.footerlinks li {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  color: hsl(213, 9%, 39%, 0.7);
}

.sociallinks {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.sociallinks li {
  cursor: pointer;
}

@media (min-width: 800px) {
  html {
    font-size: 24px;
  }

  body {
    width: 99vw;
  }

  header {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-image: url(./images/desktop/image-header.jpg);
    background-size: cover;
  }

  h1 {
    font-size: 3rem;
    margin-block: 5rem;
  }

  .navcollapse {
    display: none;
  }

  nav {
    width: 100vw;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .logo_nav {
    flex-basis: 70%;
  }

  .navitems {
    position: static;
    flex-basis: 30%;
    visibility: visible;
    flex-direction: row;
    padding: 0;
    background: none;
    color: white;
    justify-content: space-between;
  }

  .navitems > * {
    font-size: 0.7rem;
    display: flex;
    align-items: center;
  }

  .navitems li:nth-of-type(4) {
    margin: 0;
    background-color: white;
    color: black;
    padding: 0.2rem 0.5rem;
  }

  main {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 650px 650px 650px 700px 600px;
    grid-template-areas: "eggtext egg";
  }

  .egg {
    grid-area: egg;
    background-image: url(./images/desktop/image-transform.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .eggtext {
    grid-area: eggtext;
    display: block;
    text-align: left;
    padding: 7.4rem;
  }

  .cuptext {
    display: block;
    text-align: left;
    padding: 7.4rem;
  }

  .eggtext p,
  .cuptext p {
    margin-block: 1.5rem;
  }

  .cup {
    background-image: url(./images/desktop/image-stand-out.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .cherries {
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-size: cover;
  }

  .oranges {
    background-image: url(./images/desktop/image-photography.jpg);
    background-size: cover;
  }

  .cherrytext {
    padding: 0 8rem;
  }

  .orangetext {
    padding: 0 9rem;
  }

  .testimonials_sec {
    grid-column: span 2;
    justify-content: center;
    align-items: center;
  }

  .testimonials {
    display: flex;
    justify-content: space-around;
    height: 70%;
    width: 80%;
    margin: 0 auto;
  }

  .test1 {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .gallery {
    grid-column: span 2;
  }

  .milk_bottle {
    background-image: url(./images/desktop/image-gallery-milkbottles.jpg);
    background-size: cover;
  }

  .galoranges {
    background-image: url(./images/desktop/image-gallery-orange.jpg);
    background-size: cover;
  }

  .cone {
    background-image: url(./images/desktop/image-gallery-cone.jpg);
    background-size: cover;
  }

  .sugarcubes {
    background-image: url(./images/desktop/image-gallery-sugarcubes.jpg);
    background-size: cover;
  }

  .gallery > * {
    width: 25%;
    height: 100%;
  }

  footer {
    width: 100%;
  }

  .footerlogo {
    width: 10%;
    height: 10%;
    margin: 0 auto;
  }

  .footerlogo img {
    height: 100%;
    width: 100%;
  }

  .footerlinks {
    width: 30%;
    margin: 2rem auto 4rem;
  }
}
